In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
header = {'User-agent' : 'Mozilla/5.0 (Windows; U; Windows NT 5.1; de; rv:1.9.1.5) Gecko/20091102 Firefox/3.5.5'}
source = requests.get("http://meteomaps.ru/meteostation_codes.html", headers=header)
source.encoding = 'utf8'
soup = BeautifulSoup(source.text, 'html.parser')
table = soup.find('table')
# print(table)
table_st = [row.text for row in table.find_all('td')]
# table_st[:6]
table_st_np = np.asanyarray(table_st).reshape(-1, 6)
table_st_np.shape

(11869, 6)

In [4]:
df = pd.DataFrame(table_st_np)
df.columns = ['sis', 'name', 'lat', 'lon', 'hos', 'country']
df = df.iloc[1:,:]
df.head()

    sis           name   lat   lon hos country
1  1001      Jan Mayen  70,9  -8,7   9  Norway
2  1002       Grahuken  79,8  14,5  15  Norway
3  1003       Hornsund    77  15,5  12  Norway
4  1004  Ny-Alesund Ii  78,9  11,9   8  Norway
5  1006        Edgeoya  78,2  22,8  14  Norway

In [6]:
df.to_parquet('./stations/all_stations.parquet')

In [7]:
df_test = pd.read_parquet("./stations/all_stations.parquet")
df_test.head()

    sis           name   lat   lon hos country
1  1001      Jan Mayen  70,9  -8,7   9  Norway
2  1002       Grahuken  79,8  14,5  15  Norway
3  1003       Hornsund    77  15,5  12  Norway
4  1004  Ny-Alesund Ii  78,9  11,9   8  Norway
5  1006        Edgeoya  78,2  22,8  14  Norway